<footer>
  <!-- <ul class='elsewhere'>
    <li class="fab fa-github" aria-label="GitHub Icon">
      <a href="https://github.com/sehilyi/inscidar">
        GitHub
      </a>
    </li>
</ul> -->
  Copyright © 2024 <a href="https://hidivelab.org">HIDIVE Lab</a> at Harvard Medical School. All rights reserved.
  <div class="logos">
    <img src={{ "assets/logos/hms-logo.png" | relative_url }} alt="Harvard Medical School logo"></img>
    <img src={{ "assets/logos/hidive-logo.png" | relative_url }} alt="HIDIVE Lab logo"></img>
  </div>
</footer>
