<meta property="og:title"
  content="A comprehensive evaluation of life sciences data resources reveals significant accessibility barriers">
<meta property="og:description"
  content="We collected large-scale accessibility data about two essential resources: data portals (n=3,112) and journal websites (n=5,099). Our analysis shows that many life sciences resources contain severe accessibility issues (74.8% of data portals and 69.1% of journal websites) and are significantly less accessible than US government websites, which we used as a baseline.">
<meta property="og:image" content="{{ " /assets/papers/2025-analysis-figure-1.png" | relative_url }}">
<meta property="og:site_name" content="INSCIDAR">
<meta property="og:url" content="https://inscidar.org">
<meta name="twitter:card" content="{{ " /assets/papers/2025-analysis-figure-1.png" | relative_url }}">
<meta name="twitter:title"
  content="A comprehensive evaluation of life sciences data resources reveals significant accessibility barriers">
<meta name="twitter:description"
  content="We collected large-scale accessibility data about two essential resources: data portals (n=3,112) and journal websites (n=5,099). Our analysis shows that many life sciences resources contain severe accessibility issues (74.8% of data portals and 69.1% of journal websites) and are significantly less accessible than US government websites, which we used as a baseline.">
<meta name="twitter:image" content="{{ " /assets/papers/2025-analysis-figure-1.png" | relative_url }}">
