$mobile: 600px;
$desktop: 1024px;
$theme-color-background: white;
$theme-color: black;
$theme-color-light: #9777B6;
$theme-color-lightest: #F8F6FD;
$theme-color-dark: #666666;
$font-family: 'Roboto', 'Inter', 'SF Pro Text', ' SF Pro Icons', ' Helvetica Neue', ' Helvetica', ' Arial', ' sans-serif';
$font-size: 1.1rem;
$font-size-large: 1.2rem;
$font-size-larger: 1.6rem;
$font-size-largest: 2.5rem;
$font-size-small: 0.90rem;
$font-size-smallest: 0.64rem;
$font-size-smaller: 0.84rem;
$font-weight-light: 300;
$font-weight: 400;
$font-weight-bold: 600;
$font-weight-boldest: 800;
$content-width: 1024px;
$line-height: 2;

html,
body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  line-height: $line-height;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-rendering: geometricPrecision;
}

main {
  flex: 1;
}

h1 {
  font-size: 2rem;
}

h1,
h2 {
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  border-bottom: 1px solid lightgrey;
  margin-bottom: .5rem;

  small {
    font-size: $font-size-smaller;
  }
}

a:visited,
a {
  color: #0072B2;
  font-weight: $font-weight;
  text-decoration: none;
}

a:hover {
  color: $theme-color;
  text-decoration-color: $theme-color-light;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

ul {
  list-style-type: none;
}

nav h1 {
  margin-top: 7px;

}

nav h1 a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: .3rem;
  font-weight: 300;
}

nav a,
nav a:visited {
  font-size: $font-size-large;
  color: black;
}

nav ul {
  float: right;
}

nav h1,
nav ul,
nav li {
  display: inline-block;
}

nav li {
  margin-left: 2rem;
}

header {
  box-shadow: 0 0 5px lightgrey;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}

footer {
  width: 100%;
  box-shadow: 0 0 5px lightgrey;
  text-align: center;
  border-top: 1px solid lightgrey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: white;
  border-radius: 0px;
  text-align: center;
  margin-top: 2rem;

  .elsewhere li {
    margin-right: 3rem;
    line-height: 3;
  }

}

header>nav,
.content {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: $mobile) {

  header,
  .content {
    width: calc(100% - 1rem);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
  }

  header ul {
    padding-left: 1rem;

    li {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: $mobile) {
  .content .headshot-mask {
    display: block;
    width: 160px;
    height: 160px;
  }
}



.content .title-panel {
  padding-top: 1rem;
}

.content .title {
  font-size: $font-size-largest;
  font-weight: $font-weight-boldest;
  padding-bottom: 0.5rem;
}

.content .subtitle {
  font-size: $font-size-large;
}

.content #visual-statistics {
  background: white;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  height: 600px;
  padding: 3rem;
  filter: drop-shadow(0 0 0.2rem #00000033);
}

#statistics-num-pages {
  width: 100%;
  height: 100%;
}

.publication {
  padding: 1rem;
  color: black;
  box-shadow: 0 0 2px 0 lightgrey;
  border: 1px solid lightgrey;
  border-radius: 0.9rem;
  // https://cssgradient.io/
  background: rgb(204, 121, 167);
  background: linear-gradient(90deg, rgba(204, 121, 167, 0.089791810278799) 0%, rgba(179, 121, 204, 0.0925929307269783) 100%);
  line-height: 2;

  h3 {
    padding: 0px;
    margin: 0px;
  }

  ul {
    list-style-type: disc;
  }
}

.team {
  width: 100%;
}

.team,
.team th,
.team td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  text-align: center;
}

.team th {
  background: #f9f9f9;
  text-transform: uppercase;
}

.team th,
.team td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
